body.template-history-index {

	#main {
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;

			.division {
				width: 100%;
				margin-bottom: 50px;

				@include tablet-portrait {
					width: 47.5%;
				}
			}
		}
	}

	.division {

		h3 {
			background: $blue;
			color: $white;
			padding: 20px;
			font-size: 2em;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}

		.row {
			display: flex;
			width: 100%;

			& + .row {
				border: 1px solid $light-gray;
				border-top: none;
			}

			& > div {
				padding: 10px;


				p {
					font-size: 0.875em;
				}
			}

			&-header {
				background: $light-gray;

				& > div {
					padding: 8px 10px 9px;
				}

				strong {
					text-transform: uppercase;
					letter-spacing: 0.05em;
					font-size: 0.75em;
				}
			}

			.finish {
				span {
					display: inline-block;



					&.medal {
						padding: 0 0 0 24px;
						background-repeat: no-repeat;
						background-position: center left;

						&.gold {
							background-image: url(images/gold.svg);
						}

						&.silver {
							background-image: url(images/silver.svg);
						}

						&.bronze {
							background-image: url(images/bronze.svg);
						}

					}
				}
			}

			.details {
				p {
					text-align: center;
					width: 100%;
				}
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}

			.year {
				width: 15%;
			}

			.location {
				width: 40%;
			}

			.record {
				width: 20%;
			}

			.finish {
				width: 20%;
			}

			.details {
				width: 15%;
			}
		}


	}


}