body.post-type-archive-world_games,
body.post-type-archive-wugc,
body.post-type-archive-u24,
body.post-type-archive-wjuc,
body.post-type-archive-wcbu {


	#main {
		.wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: flex-start;
		}

		article {
			width: 100%;
			padding: 0 0 50px 0;

			@include tablet-landscape {
				width: 55%;
				padding: 0;
			}

			.about {
				padding: 0 0 50px 0;

				p {
					font-family: $merriweather;
					font-size: 0.9375em;
					line-height: 1.75em;
				}
			}

			.faqs {

				.faq {
					margin: 0 0 20px 0;

					.question {
						color: $deep-purple;
						font-weight: bold;
						font-family: $rajdhani;
						font-size: 1.125em;
						display: block;
						padding: 20px;
						background: $light-gray;
						transition: none;

						&:hover,
						&.active {
							color: $white;
							background: $red;
						}

					}

					.answer {
						display: none;
						padding: 20px 20px 0 20px;

						p {
							font-size: 0.9375em;
							line-height: 1.75em;
							font-family: $merriweather;
						}

						p:last-of-type {
							margin: 0;
						}
					}
				}
			}
		}

		.aside-wrapper {
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			@include tablet-landscape {
				width: 42.5%;
			}
		}

		aside#latest-news,
		aside#quick-schedule {
			width: 100%;

			@include mobile-landscape {
				width: 47.5%;
			}

			@include tablet-landscape {
				width: 47.5%;
				padding: 0 0 0 30px;
			}
		}

		aside#latest-news {
			padding: 0;
		}

		aside#quick-schedule {
			padding: 75px 0 0 0;

			@include mobile-landscape {
				padding: 0;
			}

			h4 {
				font-family: $source-sans-pro;
				font-size: 0.875em;
				text-transform: uppercase;
				padding: 0 0 20px 0;
			}

			.fixture, {
				background: #fafafa;
				border-top: 1px solid #d5d5d5;
				padding: 10px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;

				&:last-of-type {
					border-bottom: 1px solid #d5d5d5;
				}


				.time {
					font-size: 0.75em;
					text-align: center;
					width: 100%;
					padding: 5px 0 0 0;
					

				}

				.match-up {
					display: flex;
					align-items: center;
					width: 100%;
					justify-content: center;

					.versus {
						text-align: center;
						width: 20%;
						font-weight: bold;
						color: $red;
					}

					.usa,
					.opponent {
						color: $blue;
						font-family: $rajdhani;
						font-weight: bold;
						font-size: 1.25em;
						width: 20%;
						max-width: 200px;
					}

					.usa {
						text-align: right;
					}
					.opponent {
						text-align: left;
					}

					.non-game {
						color: $blue;
						font-family: $rajdhani;
						font-weight: bold;
						font-size: 1.125em;
						width: 100%;
						text-align: center;
					}

				}

			}

		}

	}

}