body.template-schedule-results {

	#main {
		article {
			h2 {
				padding: 0 0 40px 0;
			}

			#results {
				padding: 50px 0 0 0;
			}
		}
	}



	#stats {
		width: 100%;
	
		h3 {
			padding: 0 0 10px 0;

		}

		@include tablet-landscape {
			padding: 0 0 0 50px;
		}

		table {
			width: 100%;
			font-size: 0.875em;

			thead {
				th {
					background: $red; 
					color: $white;
					padding: 8px 15px;
					width: 10%;

					&:hover {
						cursor: pointer;
					}

					&.player {
						text-align: left;
						width: 60%;
						padding-left: 20px;
					}
				}
			}

			tbody {
				tr {

				}

				td {
					text-align: center;
					padding: 15px 20px;
					border-bottom: 1px solid #d5d5d5;
					&.player {
						text-align: left;

						a {
							color: $slate;
							font-weight: bold;

							&:hover {
								color: $red;
							}
						}
					}

				}
			}


		}

	}


}