body.template-team-profile-photos {

	#history .team .info {
		width: 100%;

		#roster {
			padding: 50px 0 0 0;
		}

		.grid {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 50px 20px;

			@include mobile-landscape {
				grid-template-columns: 1fr 1fr 1fr;
			}

			@include tablet-portrait {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}

			@include tablet-landscape {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			}
		}

		.player {
			display: block;
			border-bottom: none;

			.photo {
				width: 100%;
				padding: 0 0 15px 0;

				img {
					margin: 0 auto;
					display: block;
				}
			}

			.info {
				text-align: center;

				span.name {
					font-weight: bold;
					color: $red;
					font-family: $rajdhani;
					line-height: 1.125em;
					padding: 0 0 5px 0;
				}

				span.city {
					text-align: center;
					line-height: 1.125em;
				}
			}
		}
	}

	#history .team .photo {
		width: 100%;
	}
}