body.template-watch-live {

	section#main {
		article {
			width: 100%;
			max-width: 800px;
			padding: 0 0 25px 0;
		}
	}


	section.schedule {
		width: 100%;
		max-width: 800px;
		padding: 0 0 100px 0;

		&:last-of-type {
			padding: 0;
		}



		.day {
			padding: 0 0 100px 0;

			&:last-of-type {
				padding: 0;
			}
		}

		h3 {
			font-size: 2em;
			padding: 0 0 40px 0;
		}

		h4 {
			color: $blue;
			font-size: 1.5em;
			text-transform: uppercase;
			letter-spacing: 0.02em;
			padding: 0 0 10px 0;
		}

		table {
			width: 100%;

			.division {
				width: 20%;
				font-weight: bold;
			}

			.match-up {
				width: 50%;
			}

			.time {
				width: 15%;
			}

			.link {
				width: 15%;
			}

			thead {
				tr {
					border-bottom: 2px solid $red;
					background: $red;

					th {
						text-align: left;
						padding: 10px 10px 5px 10px;
						font-size: 1em;
						font-family: $rajdhani;
						text-transform: uppercase;
						color: $white;


					}
				}
			}

			tbody {
				tr + tr {
					border-top: 1px solid #eee;
				}
				td {
					padding: 15px 10px;
					font-size: 0.875em;

					a {
						color: $blue;
					}
					a:hover {
						text-decoration: underline;
					}

					&.division {
						color: $blue;
					}
				}

			}

		}


	}

}