/* Colors
----------------------------------*/
$white: #fff;
$black: #000;
$slate: #1a1a1a;
$red: #b20838;
$blue: #002a5c;
$light-gray: #eef0f2;
$deep-purple: #1a1423;



/* Typography
----------------------------------*/
$rajdhani: 'Rajdhani', sans-serif;
$source-sans-pro: 'Source Sans Pro', sans-serif;
$merriweather: 'Merriweather', serif;
